@import "./Variables.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $dark url("../assets/images/background.png");
  background-size: cover;
  color: $yellow;
  // padding-top: 0.875rem;
}

input,
button,
select {
  outline: none;
}

.main {
  height: 100vh;
  padding: 1.25rem;
  .crawl-container {
    height: 80%;
    display: flex;
    justify-items: center;
    align-items: center;
    .crawl {
      height: 80%;
      padding: 1.5rem;
      @media (min-width: 768px) {
        max-height: 400px;
        width: 40%;
        margin: auto;
        overflow-y: auto;
      }
      .opening-crawl {
        h2.title {
          font-size: 4rem;
          line-height: 3rem;
          margin: 0;
        }
        font-size: 1.5rem;
        color: darken($yellow, 5);
        padding-top: 10%;
        animation: marquee 10s linear infinite;
      }
    }
    .sw-logo {
      width: 50%;
      display: block;
      margin: auto;
      animation: logo 4s ease-in-out infinite;
    }
  }
  .table-title {
    text-align: center;
    color: #fff;
    font-size: 1.875rem;
    // text-decoration: underline;
  }
}

@keyframes logo {
  0% {
    width: 50%;
  }
  50% {
    width: 45%;
  }
  100% {
    width: 50%;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
