@import "./Variables.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $dark url("../assets/images/background.png");
  background-size: cover;
  color: $yellow;
  position: relative;
  min-height: 100%;
  // padding-top: 0.875rem;
}

input,
button,
select {
  outline: none;
}

.sw-logo {
  width: 90%;
  display: block;
  margin: 2.5rem auto;
}
